<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Meu Layout em CSS</title>
    <link rel="icon" type="icon" href="{% static 'portfolio/images/IconOficial.png'%}">
    <link rel="stylesheet" href="{% static '/portfolio/css/aboutmeStyle.css'%}">
</head>
<nav>
    <ul>
        <li><a href="{% url 'portfolio:Menu' %}">Menu</a></li>
    </ul>
</nav>

<body>
    <div class="container">
        <div class="header">
            <h1>Dionísio Miron</h1>
        </div>

    <div class="personal-info">
        <h2>Informações Pessoais</h2>
        <p>Hi, I'm Dionísio, I'm 20 years old and I'm currently studying Computer Engineering and working in a supermarket at the same time. </p>
            <p>Life is complicated but the effort pays off.</p>
            <p>With this site I wanted to prove that I'm capable of making websites online, which is incredible!</p>
    </div>

    <div class="hobbies">
        <h2>Hobbies</h2>
        <ul>
            <li>
                <div class="container1">
                    <img class="image" src="{% static 'portfolio/images/books.jpg'%}" alt="Imagem">
                    <div class="description">
                        <h2>Reading</h2>
                        <p>I enjoy sometimes reading a good book.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="container1">
                    <img class="image" src="{% static 'portfolio/images/gaming.jpeg'%}" alt="Imagem">
                    <div class="description">
                        <h2>Playing VideoGames</h2>
                        <p>I love play videoGames.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="container1">
                    <img class="image" src="{% static 'portfolio/images/plane.jpeg'%}" alt="Imagem">
                    <div class="description">
                        <h2>Travel</h2>
                        <p>Sometimes I love to travel, discover new cultures and places.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="container1">
                    <img class="image" src="{% static 'portfolio/images/gym.jpg'%}" alt="Imagem">
                    <div class="description">
                        <h2>Training</h2>
                        <p>I love going to the gym to train my muscles and brain.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="footer">
        <p>Dionísio Miron ©, 2023</p>
    </div>
  </div>
</body>
</html>