<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="icon" type="icon" href="Imagens/IconOficial.png">
    <link rel="stylesheet" href="Grid_Template.css">
</head>

<body>
    <div class="grid-container">
        <div class="header">About me...
            <Div><p>ola</p></Div>
        </div>
        <div class="sidebar">Menu</div>
        <div class="content">Conteúdo</div>
        <div class="footer">Dionísio Miron ©, 2023</div>
    </div>
</body>

</html>