{% extends 'portfolio/base.html' %}

{% block main %}
    {% for Post in Posts %}
        <p>
            <span class="info">
                ({{ Post.criado.day }}/{{ Post.criado.month }})
            </span>
            {% if Post.concluido == True %}
                <del>{{ Post.titulo }}</del>
            {% else %}
                {{ Post.titulo }}
            {% endif %}

            <a href="{% url 'portfolio:edita' post.id %}" class="btn btn-warning  btn-sm" style="float: right; margin-right: 10px">
                Editar
            </a>
        </p>
   {% endfor %}
        <a href="{% url 'portfolio:nova' %}" class="btn btn-success btn-block">+ Post</a>
{% endblock %}