<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Degree in Computer Engineering</title>
    <link rel="icon" type="icon" href="{% static 'portfolio/images/IconOficial.png'%}">
    <link rel="stylesheet" href="{% static '/portfolio/LEIStyle.css'%}">
</head>
<nav>
    <ul>
        <li><a href="{% url 'portfolio:Menu' %}">Menu</a></li>
    </ul>
</nav>

<body style = "background-color: antiquewhite;">
    <h1>List of courses - computer engineering - Universidade Lusófona</h1>
    <b><p>Mouse over for more information :)</p></b>
    <ul>
        <!-- Relativo ao primeiro ano, primeiro semestre-->
        <li>
            <h2>Fundamentals of Physics</h2>
            <p>Year: 1st</p>
            <p>Semester: 1st</p>
            <p>ETCs: 6</p>
        </li>
        <li>
            <h2>Programming fundamentals</h2>
            <p>Ano: 1st</p>
            <p>Semestre: 1st</p>
            <p>ETCs: 6</p>
        </li>
        <li>
            <h2>Discrete Mathematics</h2>
            <p>Year: 1st</p>
            <p>Semester: 1st</p>
            <p>ETCs: 6</p>
        </li>
        <li>
            <h2>Mathematics I</h2>
            <p>Year: 1st</p>
            <p>Semester: 1st</p>
            <p>ETCs: 6</p>
        </li>
        <li>
            <h2>Digital systems</h2>
            <p>Year: 1st</p>
            <p>Semester: 1st</p>
            <p>ETCs: 6</p>
        </li>
        <!-- Relativo ao primeiro ano, segundo semestre -->
        <li>
            <h2>Linear algebra</h2>
            <p>Year: 1st</p>
            <p>Semester: 2nd</p>
            <p>ETCs: 5</p>
        </li>
        <li>
            <h2>Algorithms and Data Structures</h2>
            <p>Year: 1st</p>
            <p>Semester: 2nd</p>
            <p>ETCs: 6</p>
        </li>
        <li>
            <h2>Behavioral Competencies</h2>
            <p>Year: 1st</p>
            <p>Semester: 2nd</p>
            <p>ETCs: 4</p>
        </li>
        <li>
            <h2>Computer Architecture</h2>
            <p>Year: 1st</p>
            <p>Semester: 2nd</p>
            <p>ETCs: 5</p>
        </li>
        <li>
            <h2>Programming Languages I</h2>
            <p>Year: 1st</p>
            <p>Semester: 2nd</p>
            <p>ETCs: 5</p>
        </li>
        <li>
            <h2>Mathematics II</h2>
            <p>Year: 1st</p>
            <p>Semester: 2nd</p>
            <p>ETCs: 5</p>
        </li>
        <!-- Relativo ao Segundo ano, primeiro semestre -->
        <li>
            <h2>Advanced Computer Architectures</h2>
            <p>Year: 2nd</p>
            <p>Semester: 1st</p>
            <p>ETCs: 6</p>
        </li>
        <li>
            <h2>Databases</h2>
            <p>Year: 2nd</p>
            <p>Semester: 1st</p>
            <p>ETCs: 6</p>
        </li>
        <li>
            <h2>Operating Systems</h2>
            <p>Year: 2nd</p>
            <p>Semester: 1st</p>
            <p>ETCs: 6</p>
        </li>
        <li>
            <h2>Probabilities and Statistics</h2>
            <p>Year: 2nd</p>
            <p>Semester: 1st</p>
            <p>ETCs: 6</p>
        </li>
        <li>
            <h2>Programming Languages II</h2>
            <p>Year: 2nd</p>
            <p>Semester: 1st</p>
            <p>ETCs: 6</p>
        </li>
        <!-- Relativo ao Segundo ano, segundo semestre -->
        <li>
            <h2>Computer Networks</h2>
            <p>Year: 2nd</p>
            <p>Semester: 2nd</p>
            <p>ETCs: 6</p>
        </li>
        <li>
            <h2>Decision Support Systems</h2>
            <p>Year: 2nd</p>
            <p>Semester: 2nd</p>
            <p>ETCs: 6</p>
        </li>
        <li>
            <h2>Requirements and Test Engineering</h2>
            <p>Year: 2nd</p>
            <p>Semester: 2nd</p>
            <p>ETCs: 6</p>
        </li>
        <li>
            <h2>Web Programming </h2>
            <p>Year: 2nd</p>
            <p>Semester: 2nd</p>
            <p>ETCs: 6</p>
        </li>
        <li>
            <h2>Image Processing</h2>
            <p>Year: 2nd</p>
            <p>Semester: 2nd</p>
            <p>ETCs: 6</p>
        </li>
        <!-- Relativo ao Terceiro ano, primeiro semestre -->
        <li>
            <h2>Final Course Work</h2>
            <p>Year: 3rd</p>
            <p>Semester: 1st and 2nd</p>
            <p>ETCs: 20</p>
        </li>
        <li>
            <h2>Data Science</h2>
            <p>Year: 3rd</p>
            <p>Semester: 1st</p>
            <p>ETCs: 5</p>
        </li>
        <li>
            <h2>Distributed Computing</h2>
            <p>Year: 3rd</p>
            <p>Semester: 1st</p>
            <p>ETCs: 5</p>
        </li>
        <li>
            <h2>Human-Machine Interaction</h2>
            <p>Year: 3rd</p>
            <p>Semester: 1st</p>
            <p>ETCs: 5</p>
        </li>
        <li>
            <h2>Software Engineering</h2>
            <p>Year: 3rd</p>
            <p>Semester: 1st</p>
            <p>ETCs: 5</p>
        </li>
        <!-- Relativo ao Terceiro ano, Segundo semestre -->
        <li>
            <h2>Artificial Intelligence</h2>
            <p>Year: 3rd</p>
            <p>Semester: 2nd</p>
            <p>ETCs: 20</p>
        </li>
        <li>
            <h2>Cloud Information Systems</h2>
            <p>Year: 3rd</p>
            <p>Semester: 2nd</p>
            <p>ETCs: 5</p>
        </li>
        <li>
            <h2>Computer Security</h2>
            <p>Year: 3rd</p>
            <p>Semester: 2nd</p>
            <p>ETCs: 5</p>
        </li>
        <li>
            <h2>Mobile Computing </h2>
            <p>Year: 3rd</p>
            <p>Semester: 2nd</p>
            <p>ETCs: 5</p>
        </li>
    </ul>
</body>

</html>