<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="icon" href="{% static 'portfolio/images/IconOficial.png'%}">
    <link rel="stylesheet" href="{% static '/portfolio/css/estilos.css'%}">
</head>

<body>
    <header>
        <title>Multimédia</title>
        <nav>
            <ul>
                <li><a href="{% url 'portfolio:indexlab4' %}">🏡Home</a></li> |
                <li><a href="{% url 'portfolio:local' %}">🗺️Localização</a></li> |
                <li><a href="{% url 'portfolio:info' %}">💁‍♂️Informação</a></li> |
                <li><a href="{% url 'portfolio:quizz' %}">📜Quizz</a></li> |
                <li><a href="{% url 'portfolio:html5-css' %}">💿HTML5 e CSS</a></li> 
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Multimédia</h1>
            <p>Pequena tour a belíssima cidade de Veneza, mama mia!!</p>
        </section>
        <section>
            <figure><iframe width="1300" height="700" src="https://www.youtube.com/embed/riZWEoGKyuU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe></figure>
        </section>
    </main>
    <footer><b>
            <p class="author">Dionísio Miron | a22204982 | Universidade Lusófona © 2023</p>
        </b></footer>
</body>

</html>