{% extends 'portfolio/baseWorks.html' %}

{% block main %}
    {% for Post in posts %}
    <div class = "Poster">
        <b><p>Título - </b>{{ Post.titulo }}</p>
        <b><p>Author - </b>{{ Post.author }}</p>
        <b><p>Conteúdo - </b>{{ Post.conteudo }}</p>
        <b><p>Data Criação- </b>{{ Post.datacriacao }}</p>

        {% if Post.id %}
            <a class = "botao" href="{% url 'portfolio:edita' Post.id %}">Editar</a>
        {% endif %}
        
    </div>
    {% endfor %}

    <a class = "botao" href="{% url 'portfolio:nova'%}">Criar novo post</a>

{% endblock %}
