<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
    <link rel="icon" type="icon" href="{% static 'portfolio/images/IconOficial.png'%}" />
    <link rel="stylesheet" href="{% static '/portfolio/css/blogStyle.css'%}">
</head>

<nav>
    <ul>
        <li><a href="{% url 'portfolio:Menu' %}">Menu</a></li>
    </ul>
</nav>

<body>
    <header class = "clown">
        <h1>Vídeo</h1>
        <p>This video is a little tour of my portfolio, enjoy!</p>
    </header>

    <main>
        <figure><iframe width="1300" height="700" src="https://www.youtube.com/embed/riZWEoGKyuU"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe></figure>
    </main>
</body>
<div class="footer">
    <p>Dionísio Miron ©, 2023</p>
</div>
</html>