@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);


* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    font: 100% Roboto, sans-serif;
    background-image: url('/portfolio/images/ponte.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px;
    margin: 0;
}

nav {
    overflow: hidden;
    background-color: black;
}

nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

nav a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.Welcome {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}

.author {
    background-color: black;
    color: white;
    text-align: left;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.author p {
    margin: 0;
    font-size: 12px;
}