h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-top: 50px;
}

p {
    font-family: "Open Sans", sans-serif;
}
ul {
    list-style-type: none;
    margin: 0 auto;
    max-width: 800px;
    padding: 0;
}

li {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease-in-out;
    background-color: #666;
}

li:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

li h2 {
    margin-top: 0;
}

li p {
    margin: 0;
    color: #666;
}

nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 1px 6px;
    text-decoration: none;
}

nav {
    overflow: hidden;
    background-color: #333;
}

nav a:hover {
    background-color: #555;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 4px;
}

nav li {
    display: inline-block;
}

nav li:hover {
    background-color: #555;
}

nav li:first-child {
    margin-left: 10px;
    margin-top: 16px;
}